In [1]:
import numpy as np 
import pandas as pd 
import warnings 
warnings.filterwarnings ("ignore")

In [3]:
df=pd.read_csv("cars.csv")
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [4]:
df["normalized-losses"].replace("?",np.nan,inplace=True)

In [5]:
df["horsepower"].replace("?",np.nan,inplace=True)

In [6]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(missing_values=np.nan,strategy="mean")
df[["horsepower","normalized-losses"]]=si.fit_transform(df[["horsepower","normalized-losses"]])
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,13495
1,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,16500
2,1,122.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114.0,23,28,16845
201,-1,95.0,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160.0,19,25,19045
202,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134.0,18,23,21485
203,-1,95.0,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106.0,26,27,22470
204,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114.0,19,25,22625

In [9]:
catcol=df.select_dtypes(object).columns
catcol

Index(['make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location',
       'engine-type'],
      dtype='object')

In [10]:
from sklearn.preprocessing import OrdinalEncoder 
oe=OrdinalEncoder() 
df[catcol]=oe.fit_transform(df[catcol])
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,13495
1,3,122.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,16500
2,1,122.0,0.0,1.0,2.0,2.0,0.0,65.5,52.4,5.0,152,154.0,19,26,16500
3,2,164.0,1.0,1.0,3.0,1.0,0.0,66.2,54.3,3.0,109,102.0,24,30,13950
4,2,164.0,1.0,1.0,3.0,0.0,0.0,66.4,54.3,3.0,136,115.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,114.0,23,28,16845
201,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.8,55.5,3.0,141,160.0,19,25,19045
202,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,5.0,173,134.0,18,23,21485
203,-1,95.0,21.0,0.0,3.0,2.0,0.0,68.9,55.5,3.0,145,106.0,26,27,22470
204,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,114.0,19,25,22625

**Standard Scaler**

In [11]:
from sklearn.preprocessing import StandardScaler 
ss=StandardScaler()
df.iloc[:,:-1]=ss.fit_transform(df.iloc[:,:-1])
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,1.743470,0.000000,-1.948256,0.328798,-3.050975,1.213330,-0.121867,-0.844782,-2.020417,-2.865105,0.074449,0.171065,-0.646553,-0.546059,13495
1,1.743470,0.000000,-1.948256,0.328798,-3.050975,1.213330,-0.121867,-0.844782,-2.020417,-2.865105,0.074449,0.171065,-0.646553,-0.546059,16500
2,0.133509,0.000000,-1.948256,0.328798,-0.717207,1.213330,-0.121867,-0.190566,-0.543527,1.886890,0.604046,1.261807,-0.953012,-0.691627,16500
3,0.938490,1.328961,-1.788499,0.328798,0.449677,-0.589081,-0.121867,0.136542,0.235942,-0.013908,-0.431076,-0.057230,-0.186865,-0.109354,13950
4,0.938490,1.328961,-1.788499,0.328798,0.449677,-2.391492,-0.121867,0.230001,0.235942,-0.013908,0.218885,0.272529,-1.106241,-1.273900,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1.476452,-0.854332,1.406641,0.328798,0.449677,1.213330,-0.121867,1.398245,0.728239,-0.013908,0.339248,0.247163,-0.340094,-0.400490,16845
201,-1.476452,-0.854332,1.406641,0.328798,0.449677,1.213330,-0.121867,1.351515,0.728239,-0.013908,0.339248,1.414003,-0.953012,-0.837195,19045
202,-1.476452,-0.854332,1.406641,0.328798,0.449677,1.213330,-0.121867,1.398245,0.728239,1.886890,1.109571,0.754485,-1.106241,-1.128332,21485
203,-1.476452,-0.854332,1.406641,-3.041381,0.449677,1.213330,-0.121867,1.398245,0.728239,-0.013908,0.435538,0.044234,0.119594,-0.546059,22470
204,-1.476452,-0.854332,1.406641,0.328798,0.449677,1.213330,-0.121867,1.398245,0.728239,-0.013908,0.339248,0.247163,-0.953012,-0.837195,22625

**Standard Scaler brings all values in between Positive to Negative**